.contaner{
    padding: 10px;
    background-color: #BCE2C9;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 100px;
    gap: 10px;
    grid-template-areas: 
    "aa aa bb"
    "cc dd bb"
    "ee ee ee"
}


.item{
    text-align: center;
    background-color: #36B87D ;
    line-height: 100px;
}

.item-1{
    grid-area: aa;
}

.item-2{
    line-height: 210px;
    grid-area: bb;
}

.item-3{
    grid-area: cc;
}

.item-4{
    grid-area: dd;
}

.item-5{
    grid-area: ee;
}